@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*aplicando extend*/
h3, h1 {
  font-size: 1.5rem;
  text-align: center; }

h1 {
  padding: 20px;
  font-family: 'Lato', sans-serif; }

/*aplicando maps*/
.linkCategoria {
  background-color: whitesmoke;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold; }

/*aplicando mixin*/
.textoContacto {
  background-color: whitesmoke;
  border-radius: 25px; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.textoPromo {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.iconMenu {
  color: white; }

.cta1 {
  background-color: #f8f8f8; }

h2 {
  padding: 20px;
  color: gray;
  text-align: center; }

p {
  font-family: 'Lato'; }

.subContacto {
  font-size: 1.2rem; }

.btnRedes {
  color: white;
  background-color: #1f4037;
  border-radius: 18px;
  padding: 8px 10px; }
  .btnRedes:hover {
    color: #1f4037;
    background-color: #ffffff;
    border: 0.5px solid silver; }

.subtitleCategoria {
  font-size: 1.5rem; }

#bannerHome {
  width: 100%; }

.comprar {
  background-image: linear-gradient(to right, #1f4037, #99f2c8);
  border-radius: 25px;
  color: white;
  padding: 10px 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  transition: all,0.3s; }
  .comprar:hover {
    transform: scale(1.1, 1.1); }

.btnCta {
  background-image: linear-gradient(to right, #1f4037, #99f2c8);
  border-radius: 25px;
  color: white;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  transition: all,0.3s; }
  .btnCta:hover {
    transform: scale(1.1, 1.1); }

ul {
  list-style-type: none; }

#comoComprar {
  padding: 20px;
  border-radius: 35px; }

.textoAcceder {
  text-align: center; }

.cardCategoria {
  border-radius: 20px;
  background-color: whitesmoke; }

.cardProductos {
  border: 0.5px solid #c5c5c5;
  border-radius: 20px; }

.imgCategorias {
  width: 50%; }

.imgProductos {
  width: 50%; }

.imgMarcas {
  width: 80%; }

.imgCta {
  border-radius: 25px;
  box-shadow: 5px 5px 10px black; }

.imgTienda, .redesContacto {
  width: 15%; }

.iconContacto, .iconCompra {
  width: 20%; }

.cardComprar {
  background-color: whitesmoke;
  border-radius: 25px; }

#whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee; }

footer a {
  text-decoration: none;
  color: black; }

.logoFooter {
  width: 50%; }

.disclaimer {
  display: none; }
