@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*aplicando extend*/
.productos, .categorias {
  width: auto;
  border: 1px solid grey;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.categorias {
  transition: all, 0.3s; }

/*aplicando maps*/
.redesBtn {
  width: 20%;
  background-color: #37db76;
  border-radius: 5px; }

/*aplicando mixin*/
.padreProductos {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.textoPromo {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.logoPrincipal {
  display: inline-block;
  width: 250px; }

.header {
  display: flex;
  justify-content: space-between; }

.headerMenu {
  color: white;
  display: inline-block;
  font-family: 'Lato', sans-serif; }

#buscador {
  width: 500px;
  padding: 10px;
  border-radius: 25px; }

.encabezado {
  background-color: #f8f8f8; }

h1 {
  text-align: center;
  padding: 20px;
  font-size: 1.5rem; }

h2 {
  padding: 20px;
  color: gray;
  text-align: center; }

h3 {
  font-size: 1.5rem;
  text-align: center; }

/*.btnRedes {
    background-color: #1f4037;
    border-radius: 10px;
    padding: 5px 10px;
    border: 0px;
    transition: all,0.5s;

        &:hover {
            background-color: #ffffff;
            border: 0.5px solid gray;
        }
    }*/
i {
  color: white;
  background-color: #1f4037;
  border-radius: 18px;
  padding: 8px 10px; }
  i:hover {
    color: #1f4037;
    background-color: #ffffff;
    border: 0.5px solid silver; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  grid-area: footer; }

footer a {
  text-decoration: none;
  color: black; }

.menuPrincipal {
  display: flex;
  justify-content: center; }

.navSearchBar {
  margin-right: 150px; }

.subtitleCategoria {
  font-size: 1.5rem; }

.categorias1 {
  grid-area: categorias1; }
  .categorias1 .padreCategorias {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .categorias1 .padreCategorias .categorias {
      width: auto;
      border: 1px solid grey;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all, 0.3s; }
      .categorias1 .padreCategorias .categorias:hover {
        transform: scale(1.1, 1.1); }

.productos1 {
  grid-area: productos1; }
  .productos1 .padreProductos {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between; }
    .productos1 .padreProductos .productos, .productos1 .padreProductos .categorias {
      width: auto;
      border: 1px solid grey;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center; }

#banner {
  grid-area: banner; }

#bannerHome {
  width: 100%; }

.carrito {
  width: 40px; }

.carritoCompras {
  display: inline-block; }

.comprar {
  background-image: linear-gradient(to right, #1f4037, #99f2c8);
  border-radius: 25px;
  color: white;
  padding: 10px 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  transition: all,0.3s; }
  .comprar:hover {
    transform: scale(1.1, 1.1); }

.btnCta {
  background-image: linear-gradient(to right, #1f4037, #99f2c8);
  border-radius: 25px;
  color: white;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  transition: all,0.3s; }
  .btnCta:hover {
    transform: scale(1.1, 1.1); }

ul {
  list-style-type: none; }

#comoComprar {
  padding: 20px; }

#whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px; }

/*media querie*/
@media (max-width: 599px) {
  .logoPrincipal {
    width: 70%; }
  .carritoCompras {
    width: 30%; }
  .navSearchBar {
    display: none; }
  .menuPrincipal {
    display: none; }
  .footer {
    display: block; } }

.textoAcceder {
  text-align: center; }

.formAcceso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px; }

input {
  border-radius: 25px; }

/*modificando el nav bootstrap*/
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.cardCategoria {
  border-radius: 20px;
  background-color: whitesmoke; }

.cardProductos {
  border: 0.5px solid #c5c5c5;
  border-radius: 20px; }

.imgCategorias {
  width: 50%; }

.imgProductos {
  width: 50%; }

.imgMarcas {
  width: 80%; }

.imgCta {
  border-radius: 25px; }

.disclaimer {
  display: none; }

.linkCategoria {
  background-color: whitesmoke;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold; }

.imgTienda {
  width: 15%; }
