/*aplicando maps*/
$linkCat:(fondo:rgb(245, 245, 245),padding:10px 15px,color:black,subrayado:none,radio-borde:25px,ancho-letra:bold);

.linkCategoria {
    background-color: map-get($linkCat,fondo);
    padding: map-get($linkCat,padding);
    color: map-get($linkCat,color);
    text-decoration: map-get($linkCat,subrayado);
    border-radius: map-get($linkCat,radio-borde);
    font-weight: map-get($linkCat,ancho-letra);
}