/*aplicando mixin*/

$padding1:20px;

@mixin categoriasProductos {
        padding: $padding1;
        margin-bottom: 20px;          
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
}

.padreProductos {
        @include categoriasProductos;
}

//esto lo tengo anidado en style.scss pero no lo he tocado ni comentado porque no se si se vaya a romper