@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "extend";
@import "maps";
@import "mixin";

$color-subs:gray;
$padding1:20px;
$bradius: 25px;

@keyframes texto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.textoPromo {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.iconMenu {
    color: white;
}

.cta1 {
    background-color: rgb(248, 248, 248);
}

h2 {
    padding: $padding1;
    color: $color-subs;
    text-align: center;    
}

p {
    font-family: 'Lato';
}

.subContacto {
    font-size: 1.2rem;
}

.btnRedes {
    color: white;
    background-color: #1f4037;
    border-radius: 18px;
    padding: 8px 10px;

    &:hover {
        color: #1f4037;
        background-color: #ffffff;
        border: 0.5px solid rgb(192, 192, 192);
    }
}

.subtitleCategoria {
    font-size: 1.5rem;
}

#bannerHome {
    width: 100%;
}


.comprar {
    background-image: linear-gradient(to right, #1f4037, #99f2c8);
    border-radius: 25px;
    color: white;
    padding: 10px 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    transition: all,0.3s;

        &:hover {
            transform: scale(1.1,1.1);
        }
    }

.btnCta {
    background-image: linear-gradient(to right, #1f4037, #99f2c8);
    border-radius: 25px;
    color: white;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    transition: all,0.3s;
    
        &:hover {
            transform: scale(1.1,1.1);
        }
    }

ul {
    list-style-type: none;
}

#comoComprar {
    padding: $padding1;
    border-radius: 35px;
}


.textoAcceder {
    text-align: center;
}

.cardCategoria {    
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

.cardProductos {
    border: 0.5px solid rgb(197, 197, 197);
    border-radius: 20px;
}

.imgCategorias {
    width: 50%;
}

.imgProductos {
    width: 50%;
}

.imgMarcas {
    width: 80%;
}

.imgCta {
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
}

.imgTienda, .redesContacto {
    width: 15%;
}

.iconContacto, .iconCompra {
    width: 20%;
}

.cardComprar {
    background-color: rgb(245, 245, 245);
    border-radius: $bradius;
}

#whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}

footer a {
    text-decoration: none;
    color: black;
}

.logoFooter {
    width: 50%;
}

.disclaimer {
    display: none;
}